p
{
  backgroung : #FFD9D9;
  border-bottom : 4px solid red;
  padding-top : 15px;
  margin : -10px;
  display : black;
  width : auto;
  height : 35px;
  text-align : center;
  vertival-align : center;
}
h1 {color : lavender;}
